@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

* {
  box-sizing: border-box;
}

body,html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.background-header {
  height: 93vh;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.background-header h1, .background-header p {
  font-family: 'Fredoka One', cursive;
  color: #000;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: 50px;
}

.btn {
  border: 2px solid #000;
  cursor: pointer;
}
.btn-tomato {
  background-color: #ff6347;
}
.btn-violet {
  background-color: #ee82ee;
}
.btn-wheat {
  background-color: #f5deb3;
}
.btn-yellow {
  background-color: #ffff00;
}
.btn-yellowgreen {
  background-color: #9acd32;
}